include:
  - project: workflow/ewoksadmin/ewoksci
    file: .gitlab-ci-template.yml

test-3.7:
  extends: .test-3.7

build_sdist:
  extends: .build_sdist

test_sdist-3.7:
  extends: .test_sdist-3.7

test_sdist-3.8-win:
  extends: .test_sdist-3.8-win

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets
