include:
  - remote: "https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml"

test-3.6:
  extends: ".test-3.6"

deploy_docs:
  extends: ".sphinx_and_artifacts"

pages:
  extends: ".pages"
