name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  # Build Python package
  build:
    uses: ewoks-kit/.github/.github/workflows/python-build.yml@main

  # Run tests
  tests:
    needs: build
    uses: ewoks-kit/.github/.github/workflows/python-tests.yml@main

  # Run linter / checks
  checks:
    uses: ewoks-kit/.github/.github/workflows/python-check.yml@main

  # Build documentation
  docs:
    needs: build
    uses: ewoks-kit/.github/.github/workflows/python-docs.yml@main

  # Run scripts
  scripts:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: ewoks-kit/.github/.github/actions/setup-python-package@main

      - name: Run all scripts
        shell: bash
        run: |
          for filename in scripts/*; do
            echo "Running $filename"
            python "$filename"
          done
